<%- include ('partials/header.ejs'); %>
<%- include ('partials/navbar.ejs'); %>

<div class="container">
  <div class="card-header">
    <h2>New entry</h2>
  </div>
  <div class="card-body">
    <form method="POST" action="/newentry/new">
      <label>Plate</label>
      <input type="text" name="plate" placeholder="ABC1234" maxlength="7" class="form-control">
      <br>
      <label>Manufacturer</label>
      <input type="text" name="manufacturer" placeholder="Chrysler" maxlength="20" class="form-control">
      <br>
      <label>Model</label>
      <input type="text" name="model" placeholder="300c" maxlength="20" class="form-control">
      <br>
      <label>Entry date</label>
      <input type="text" id="entrydate" name="entrydate" class="form-control">
      <br>
      <label>Entry hour</label>
      <input type="time" name="entryhour" class="form-control">
      <br>
      <button class="btn btn-success">Submit</button>
      <br>
    </form>
  </div>
</div>

<%- include ('partials/footer.ejs'); %>